<%= simple_form_for @record do |f| %>

<div class="form-record">
    <%= f.input :date, input_html:{ class: "form-control"} %>
    <div><b>Room ID</b></div>
    <%= f.select :room_id, ['3-1','3-2','3-3','3-4','3-5','3-6','3-7','3-8','3-9','3-10','4-1','4-2','4-3','4-4','4-5','4-6','4-7','4-8','4-9','4-10','4-11','4-12','4-13','4-14','4-15','4-16','3F导播室','4F导播室'], input_html:{ class: "form-control"} %>
    <%= f.input :device_name, input_html: { class: "form-control"} %>
    <%= f.input :device_model, input_html: { class: "form-control"} %>
    <%= f.input :serial_number, input_html: { class: "form-control"} %>
    <%= f.input :summary, input_html: { class: "form-control"} %>
    <%= f.input :resolution, input_html: { class: "form-control"} %>
    <div><b>Result ( 1 is Solved.)</b></div>
    <%= f.select :result, ['0','1'], input_html: { class: "form-control"} %>
    <%= f.input :remarks, input_html: { class: "form-control"} %>
</div>
<%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
<% end %>
