<div class="col-md-12" >
  <div class="record">
    <%= link_to("New Record", new_record_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>日期</td>
        <td>房间号</td>
        <td>设备名称</td>
        <td>型号</td>
        <td>序列号</td>
        <td>故障描述</td>

        <td>解决过程</td>
        <td>结果</td>
        <td>备注</td>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <tr>
          <td>#</td>
          <td><%= record.date %></td>
          <td><%= record.room_id %></td>
          <td><%= link_to(record.device_name, record_path(record), title:"点击查看详情") %></td>
          <td><%= record.device_model %></td>
          <td><%= record.serial_number %></td>
          <td><%= render_record_summary(record) %></td>

          <td><%= render_record_resolution(record) %></td>
          <td>
            <%= if record.result == true
              "已";
            else
              "待";
            end
            %>
            解决
          </td>
          <td><%= record.remarks %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
